@import '../fonts.css';

body > footer {
  text-align: center;
  margin: 60px 0 0 0;
  & > a {
    font-family: var(--font-stack-modern);
    font-size: 18px;
    color: black;
    display: inline-block;
    padding: 4px 12px;
  }
}
