@import '../fonts.css';

body > header {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  & > h1 {
    font-family: var(--font-stack-narrow);
    font-size: 72px;
    line-height: 100%;
    border-style: solid;
    border-width: 6px 0;
    padding: 30px 50px;
    margin: 60px 0 30px 0;
  }
  & > .cta {
    display: inline-block;
    text-align: center;
    padding: 14px 20px 14px 28px;
    margin: 30px 0 30px 0;
    font-family: var(--font-stack-modern);
    font-size: 20px;
    color: white;
    background-color: black;
    border: 2px solid black;
    &::after {
      content: '→';
      margin-left: 14px;
      display: inline-block;
    }
    &:active {
      color: black;
      background-color: white;
    }
  }
}

@media (max-width: 600px) {
  body > header {
    & > h1 {
      font-size: 36px;
      padding: 15px 25px;
      margin: 30px 0 15px 0;
    }
  }
}
