nav {
  border-bottom: 4px solid black;
  & > [role='menubar'] {
    font-size: 0;
    max-width: var(--max-width);
    margin: 8px auto;
    padding: 0 14px;
    & > a {
      display: inline-block;
      white-space: nowrap;
      padding: 5px 20px;
      color: black;
      font-family: var(--font-stack-narrow);
      font-size: 24px;
      font-weight: bold;
      &.target {
        color: white;
        background-color: black;
      }
    }
  }
}

@media (max-width: 500px) {
  nav {
    text-align: center;
  }
}
