@import '/styles/configuration.css';
@import '/styles/fonts.css';

aside {
  background-color: black;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  text-align: center;
  & > cite {
    font-style: normal;
    font-family: var(--font-stack-narrow);
    font-size: 24px;
    color: white;
    max-width: var(--max-width);
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    & > a {
      color: white;
      white-space: nowrap;
    }
  }
}

@media (max-width: 500px) {
  aside > cite {
    text-align: center;
  }
}

nav {
  margin-top: 14px;
  position: relative;
  &::before {
    content: '';
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
  }
  & > [role='menubar'] {
    font-size: 0;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    & > #brand {
      margin: 6px 20px 0 0;
      font-size: 24px;
      font-family: var(--font-stack-narrow);
      font-weight: normal;
      color: black;
      text-decoration: none;
    }
    & > ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      &[hidden] {
        display: none;
      }
      & > li {
        display: inline-block;
        white-space: nowrap;
        & > a {
          color: white;
          background-color: black;
          display: inline-block;
          border: 4px solid black;
          border-bottom: none;
          padding: 3px 40px 6px 40px;
          font-size: 24px;
          font-family: var(--font-stack-narrow);
          font-weight: bold;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 300px;
          &:active {
            background-color: white;
            color: black;
          }
          &:not(:last-of-type) {
            border-right-width: 0;
            padding-right: 5px;
          }
          &:not(:first-of-type) {
            border-left-width: 0;
            padding-left: 5px;
            &::before {
              content: '>';
              padding-right: 5px;
            }
          }
        }
        &.active > a {
          text-decoration: none;
          background-color: white;
          color: black;
          position: relative;
          &::after {
            content: '';
            background-color: white;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 4px;
          }
          &:not(:last-of-type) {
            text-decoration: underline;
          }
        }
      }
      &:first-child > li > a {
        padding-left: 6px;
        padding-right: 6px;
      }
      &:last-child {
        flex: auto;
        text-align: right;
      }
    }
  }
}

@media (max-width: 500px) {
  nav {
    &::before {
      display: none;
    }
    & > [role='menubar'] {
      flex-direction: column;
      & > #brand {
        align-self: center;
        margin: 14px;
      }
      & > ul {
        display: block;
        & > li {
          display: block;
          & > a {
            padding-left: 6px;
            padding-right: 6px;
            display: block;
            color: black;
            background-color: white;
            text-align: center;
            max-width: 100%;
            &:not(:last-of-type) {
              border-right-width: 4px;
            }
            &:not(:first-of-type) {
              border-left-width: 4px;
              border-top: none;
            }
          }
          &.active > a {
            color: white;
            background-color: black;
            position: relative;
            &::after {
              display: none;
            }
            &::before {
              content: '';
              border: 2px solid white;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              padding: 0;
            }
            &:not(:last-of-type)::before {
              border-bottom: none;
            }
            &:not(:first-of-type)::before {
              border-top: none;
            }
          }
        }
        &:last-of-type > li:last-of-type > a {
          border-bottom: 4px solid black;
        }
      }
    }
  }
}

footer {
  margin: 40px 0 14px 0;
  border-top: solid 4px black;
}
