<app-layout subtitle="Add a Site">
    <link rel="stylesheet" href="/scripts/components/sites/add.css">
    <nav>
      <div role="menubar">
        <a href="/sites">Overview</a>
        <a class="target" href="/add">Add a Site</a>
      </div>
    </nav>
    <main>
      <header>
        <h1>WIP</h1>
        <p>👨🏻‍💻</p>
      </header>
      <p>Deploying sites from within the browser is coming soon.</p>
      <p>To publish a website, for now, please use the command line interface (CLI).</p>
      <h2>Step 1: Install the CLI</h2>
      <code>npm install -g @commonshost/cli</code>
      <h2>Step 2: Log In</h2>
      <code>commonshost login --username<span id="username"></span></code>
      <p>Tip: Run directly from NPM, without installing: <code>npx @commonshost/cli</code></p>
      <h2>Step 3: Deploy</h2>
      <code>commonshost deploy
  
  ✔ Loading configuration
  ✔ Bundling custom options
  ✔ Indexing files
  ✔ Uploading
  
  Deployment successful. Now available at:
  
    https://finest-witty-turtle.commons.host</code>
      <h2>Done. But wait, there's more!</h2>
      <p>Take a look at some example configurations.</p>
      <ul>
        <li>
          <a href="https://gitlab.com/commonshost/website/blob/master/commonshost.conf.js">commonshost/website</a>
          Custom domain, fallback HTML file for client-side routing, HTTP/2 Server Push Manifest
        </li>
        <li>
          <a href="https://github.com/KopiJS/kopijs.org/blob/master/http2live.conf.production.js">KopiJS/kopijs.org</a>
          Custom domain, HTTP/2 Server Push manifest
        </li>
      </ul>
    </main>
  </app-layout>
  