@import '/styles/configuration.css';
@import '/styles/fonts.css';
@import '/styles/layout/nav-secondary.css';

main {
  max-width: var(--max-width);
  margin: 80px auto;
  padding: 0 14px;
  & > header {
    text-align: center;
    & > h1 {
      font-family: var(--font-stack-narrow);
      font-weight: bold;
      font-size: 96px;
      color: black;
      margin: 0;
    }
    & > p {
      font-size: 126px;
      margin: 0;
    }
  }
  & > p {
    font-family: var(--font-stack-modern);
    font-size: 16px;
    & > code {
      font-family: var(--font-stack-monospace);
      white-space: pre-wrap;
    }
  }
  & > h2 {
    margin-top: 2em;
    font-family: var(--font-stack-narrow);
    font-weight: bold;
    font-size: 24px;
  }
  & > code {
    font-family: var(--font-stack-monospace);
    font-size: 16px;
    white-space: pre-wrap;
    border: 4px solid black;
    padding: 1em;
    display: block;
  }
  & > ul {
    & > li {
      font-family: var(--font-stack-modern);
      font-size: 16px;
      & > a {
        color: black;
        font-family: var(--font-stack-monospace);
      }
    }
  }
}
