<app-layout subtitle="Overview">
  <link rel="stylesheet" href="/scripts/components/sites/list.css">
  <nav>
    <div role="menubar">
      <a class="target" href="/sites">Overview</a>
      <a href="/add">Add a Site</a>
    </div>
  </nav>
  <main>
    <table>
      <thead>
        <tr>
          <th>Domain</th>
          <th>Modified</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <template id="site">
      <tr class="result">
        <td>
          <a href=""></a> 🛠
        </td>
        <td>
          <time datetime></time>
        </td>
      </tr>
    </template>
    <template id="loading">
      <tr>
        <td colspan="2" id="message">
          Loading...
        </td>
      </tr>
    </template>
    <template id="empty">
      <tr>
        <td colspan="2" id="hint">
          No active websites found. Try deploying something?
        </td>
      </tr>
    </template>
    <template id="error">
      <tr>
        <td colspan="2" id="failure">
          Error: <span id="description"></span>
        </td>
      </tr>
    </template>
    <div>
      <p>Add a site to start deploying.</p>
      <p>
        <a id="cta" href="/add">Add a Site</a>
      </p>
    </div>
  </main>
</app-layout>
