@import '../fonts.css';

body > main.home {
  & > .capabilities {
    margin: 30px 0 30px 0;
    & > ul {
      list-style-type: none;
      columns: 2 350px;
      margin: auto;
      max-width: 900px;
      padding: 0;
      & > li {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        & > h3 {
          font-family: var(--font-stack-slab);
          font-weight: bold;
          font-size: 20px;
          margin: 0;
          display: inline-block;
          width: 100%;
        }
        & > p {
          font-family: var(--font-stack-sans-serif);
          font-size: 16px;
          line-height: 24px;
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
  & > .installation {
    text-align: center;
    padding-bottom: 30px;
    & > code {
      text-align: left;
      font-family: var(--font-stack-monospace);
      font-size: 20px;
      line-height: 1.5em;
      color: white;
      padding: 2em;
      background-color: black;
      white-space: pre-wrap;
      display: inline-block;
      & > a, & > a:visited {
        text-decoration: none;
        color: white;
      }
    }
  }
  & > .about {
    & > p {
      font-family: var(--font-stack-modern);
      font-size: 20px;
      line-height: 36px;
      max-width: 550px;
      margin: 2em auto;
    }
  }
  & > .features {
    display: flex;
    flex-direction: column;
    & > h2 {
      text-align: center;
      position: relative;
      width: 100%;
      max-width: 700px;
      margin: 30px auto 60px auto;
      &::before {
        content: '';
        z-index: -1;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 6px;
        background-color: black;
      }
      & > span {
        background-color: white;
        display: inline-block;
        padding: 0 1em;
        font-family: var(--font-stack-narrow);
        font-size: 48px;
      }
    }
    & > ul {
      list-style-type: none;
      columns: 250px;
      max-width: 700px;
      width: 100%;
      margin: auto;
      padding: 0;
      & > li {
        font-family: var(--font-stack-narrow);
        font-size: 36px;
        margin: 0 0.5em 1em 0;
      }
    }
  }
  & > .video {
    padding-top: 30px;
    text-align: center;
    & > iframe {
      max-width: 560px;
    }
  }
}

@media (max-width: 600px) {
  body > main.home {
    & > .capabilities {
    }
    & > .installation {
      & > code {
        font-size: 11px;
        padding: 1em;
      }
    }
    & > .about {
    }
    & > .features {
      & > h2 {
        & > span {
          font-size: 36px;
        }
      }
      & > ul {
        text-align: center;
        & > li {
          font-size: 18px;
        }
      }
    }
  }
}
