<app-layout subtitle="Sign Up">
  <link rel="stylesheet" href="/scripts/components/authentication/signup.css">
  <header>
    <h1>Sign Up</h1>
  </header>
  <main>
    <p>The free &amp; open source HTTP/2 CDN for front-end developers.</p>
    <ol>
      <li>Unlimited websites</li>
      <li>Automatic HTTPS</li>
      <li>Custom domains</li>
      <li>HTTP/2 Server Push manifests</li>
    </ol>
    <form>
      <div>
        <label for="username">Username</label>
        <input id="username" type="text" required autofocus placeholder="babayega">
      </div>
      <div>
        <label for="email">Email Address</label>
        <input id="email" type="email" required placeholder="john.wick@example.com">
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" required placeholder="Trust no one">
      </div>
      <p id="progress" hidden>
        <strong>Signing up...</strong>
      </p>
      <p id="problem" hidden>
        <output></output>
      </p>
      <button type="submit">Sign Up</button>
    </form>
    <p>
      Already signed up? Go to <a href="/login">Log In</a>.
    </p>
  </main>
</app-layout>
