@import '/styles/fonts.css';

main {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    max-width: calc(100% - 28px);
  }
  & > h1 {
    font-family: var(--font-stack-narrow);
    font-weight: bold;
    font-size: 32px;
    color: black;
  }
  & > h2 {
    font-size: 126px;
    margin: 0;
  }
  & > p {
    font-family: var(--font-stack-modern);
    font-size: 16px;
  }
  & > a {
    background-color: #7ED321;
    border: 2px solid black;
    font-family: var(--font-stack-narrow);
    font-weight: bold;
    font-size: 24px;
    padding: 3px 40px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    &:active {
      color: #7ED321;
      background-color: white;
    }
  }
}
