<app-layout subtitle="Profile">
  <link rel="stylesheet" href="/scripts/components/account/profile.css">
  <nav>
    <div role="menubar">
      <a class="target" href="/account/profile">Profile</a>
      <a href="/account/billing">Billing</a>
      <a href="/account/notifications">Notifications</a>
    </div>
  </nav>
  <main>
    <article>
      <header>
        <h1>Update Email Address</h1>
      </header>
      <form id="email">
        <p>This email address is used to log in and receive email notifications.</p>
        <div class="data-input">
          <label for="email">New Email Address</label>
          <input id="email-update" type="email" required placeholder="john.wick@example.com">
        </div>
        <div class="form-submit">
          <button type="submit">Save</button>
          <p id="pending" hidden>Saving...</p>
          <p id="success" hidden>Saved.</p>
          <p id="error" hidden>Error: <span id="message"></span></p>
        </div>
      </form>
    </article>
    <article>
      <header>
        <h1>Change Password</h1>
      </header>
      <form id="password">
        <p>This sets the password to log in to your account.</p>
        <div class="data-input">
          <label for="new">New Password</label>
          <input id="new" type="password" autocomplete="new-password" required placeholder="Secret">
        </div>
        <div class="data-input">
          <label for="confirm">Confirm New Password</label>
          <input id="confirm" type="password" autocomplete="new-password" required placeholder="Secret">
        </div>
        <div class="form-submit">
          <button type="submit">Save</button>
          <p id="pending" hidden>Saving...</p>
          <p id="success" hidden>Saved.</p>
          <p id="error" hidden>Error: <span id="message"></span></p>
        </div>
      </form>
    </article>
    <article>
      <header>
        <h1>Session</h1>
      </header>
      <form id="session">
        <p id="loading">Loading...</p>
        <p id="authenticated" hidden>You are currently authenticated.</p>
        <p id="problem" hidden>Error: <span id="error"></span></p>
        <div class="data-field">
          <label for="session-username">Username</label>
          <input id="session-username" type="text" disabled value="">
        </div>
        <div class="data-field">
          <label for="session-email">Email</label>
          <input id="session-email" type="email" disabled value="">
        </div>
        <div class="data-field">
          <label>Picture</label>
          <img id="session-picture" alt="Profile photo" src="">
        </div>
        <div class="form-submit">
          <button type="submit">Log Out</button>
        </div>
      </form>
    </article>
  </main>
</app-layout>
